body {
    margin: 0;
    padding: 0;
    background-color: black;
    background-image: url("../assets/images/fondo-web.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 68vh;
  }