<div class="about-me">

  <div class="content">
    <h2>SOBRE MI</h2>
    <p>FALTA RELLENAR CON TEXTO</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque laborum quis corporis doloribus et eligendi
      voluptatum voluptate exercitationem soluta, quia aperiam tempore doloremque, ut libero quasi unde debitis officia
      nesciunt? </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est assumenda porro laboriosam omnis, pariatur officiis
      maxime minima. Totam maxime ea modi accusamus distinctio. Voluptates maxime esse aliquid quo enim impedit.</p>
  
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est assumenda porro laboriosam omnis, pariatur officiis
        maxime minima. Totam maxime ea modi accusamus distinctio. Voluptates maxime esse aliquid quo enim impedit.</p>
    
    </div>
  
</div>