@import url('https://fonts.googleapis.com/css2?family=Rubik+Pixels');



.heading {
    // font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: 'Rubik Pixels', sans-serif;
    font-size: 4rem;
    color: rgb(223, 4, 139);
    text-shadow: 2px 2px rgba(0, 255, 157, 0.637);
    text-align: center;
    
  }
  
  .neon-text {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: limegreen;
    text-shadow: 2px 2px 0 yellow, 4px 4px 0 yellow, 6px 6px 0 yellow, 8px 8px 0 limegreen;
  }