.heading {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4rem;
    color: pink;
    text-shadow: 2px 2px blue;
  }
  
  .neon-text {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: limegreen;
    text-shadow: 2px 2px 0 yellow, 4px 4px 0 yellow, 6px 6px 0 yellow, 8px 8px 0 limegreen;
  }