<!-- <h2>Footer</h2>

<div>

    <p *ngFor = "let msg of messages">{{msg}}</p>
    
    </div>
    
    <input placeholder = "Mensaje"
    [(ngModel)]="newMessage"
    >
    <button (click) = "sendMessage()">Enviar</button> -->

    <footer>
        <div class="social-icons">
          <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
          <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
        </div>
        <div class="credit">
          <p>© 2023 Rick and Morty. All Rights Reserved</p>
        </div>
      </footer>