 .footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(197, 217, 232, 0.8);
  color: #312a2a;
  padding: 11px 0 0 10px;
  text-align: center;

  &__social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    flex-wrap: wrap;

    a {
      display: inline-block;
      margin: 0 15px;

      img {
        max-width: 30px;
        transition: all 0.3s ease;

        &:hover {
          transform: scale(1.2);
        }
      }
    }
  
  
  }

  .credit {
    font-size: 10px;
    margin-top: auto;

    p {
      margin: 0;
      padding: 0;
      text-align: center;

      &:before {
        content: "\00a9 ";
        font-size: 18px;
      }
    }
  }
 }