<div class="footer">
  <div class="footer__social-icons">
    <a href="https://www.facebook.com/" target="_blank"><img src="../../../../assets/images/facebook.png" alt="Facebook"></a>
    <a href="https://www.instagram.com/alojandro_" target="_blank"><img src="../../../../assets/images/instagram.png" alt="Instagram"></a>
    <a href="https://www.linkedin.com/in/alejandro-serrano---/" target="_blank"><img src="../../../../assets/images/linkedin.png" alt="Linkedin"></a>

  </div>
  <div class="credit">
    <p>© 2023 Rick and Morty. All Rights Reserved</p>
  </div>
</div>

