.character {
    border: 1px solid rgb(17, 14, 14);
    box-shadow: 2px 2px 2px 2px rgb(198, 222, 176);
    background-color: white;
    // margin-bottom: px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;

    &__info {
        padding: 8px;
    }

    &__image {
        width: 248px;
        height: 350px;
        object-fit: cover;
        // border-bottom: 0px solid black;
    }

    &__text {
        margin-bottom: 8px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
   
    &__buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 4px;
    }

    &__button {
        border: none;
        padding: 8px;
        margin: 10px 1px;
        background-color: lightblue;

        &--remove {
            background-color: rgb(205, 94, 90);
            font-weight: bold;
            color: white
        }

    }
}
